.globalDiv_Collapse {
    margin: 1% 16% 3% 16%;
}

/*Composant: Collapse*/
.collapse {
    margin: 20px 20px 35px 0;
    width: 100%;
}

@media screen and (max-width: 768px) {

    /*page : Apropos.jsx*/
    .globalDiv_Collapse {
        margin: 1% 10% 0 10%;
    }

    /*Composant: Collapse*/
    .Collapse_Title {
        font-size: 18px;
    }
}

@media screen and (max-width: 376px) {

    /*page : Apropos.jsx*/
    .globalDiv_Collapse {
        margin: 0 5% 20% 5%;

    }

    /*Composant: Collapse*/

    .Collapse_Title {
        font-size: 13px;
        margin: 0;
    }

    .Collapse_Texte {
        font-size: 13px;
    }

    .divTitle {
        height: 30px;
        margin: 0 5px;
    }

    .divTexte {
        margin: 0 5px;

    }


    .imgVect {
        height: 18px;

    }
}