.cards-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 10%;
    padding: 50px;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 25px;
}


@media screen and (max-width:992px) {
    .cards-div {
        border-radius: 25px;
        margin: 1% 5%;
        width: 90%;
        width: unset;
        padding: 0;
    }



}

@media screen and (max-width: 768px) {

    .cards-div {
        width: 100%;
        margin: 0;
        flex-direction: column;
        background-color: transparent;
        border: unset;
    }


}

@media screen and (max-width: 376px) {
    .cards-div {
        width: 90%;
        margin: 0 5%;


    }
}

@media screen and (max-width: 320px) {
    .cards-div {
        width: 100%;
        margin: 0;
    }
}