.cards-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 2% 10%;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 25px;
}