.titleRateHost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 10%;
}

.titleDiv {
    width: 50%;
}


.ratingHostDiv {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.collapseDiv {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 10%;
}

.collapseDiv :nth-child(n) {
    width: 95%;
    justify-content: space-between;

}

.collapseDiv p {
    margin: 0;
    width: 100%;
}