h1 {
    color: #FF6060;
    font-weight: 500;
    margin: 0;
    padding-block: 10px;
}

p {
    color: #FF6060;
    margin: 0;
    font-weight: 500;
    font-size: 18px;

}

.tag_span {

    display: flex;

    margin: 20px 0;

}

.tag_span :nth-child(1n+0) {
    border: 1px solid #FF6060;
    border-radius: 11px;
    background-color: #FF6060;
    color: #fff;
    padding: 5px 18px;
    font-size: 14px;
    font-weight: 200;
    margin-right: 5px;


}

.tag_span :nth-child(1n+0) p {
    text-align: center;
}