.carrousel_div {
    height: 415px;
    width: 1357px;
    margin: 50px 80px;
    display: flex;
    position: relative;
}

.swip_btn {
    position: absolute;
}

#right_btn {
    right: 20px;
    bottom: 40%;

}

.imgDiv {
    width: 100%;

}

.img {
    height: 415px;
    width: 1357px;
    object-fit: cover;
    border-radius: 25px;
}

#left_btn {
    left: 20px;
    bottom: 40%;

}