.article_card {
    position: relative;
}

.cardStyle {
    border-radius: 10px;
    height: 340px;
    width: 340px;
    object-fit: cover;
    margin-block: 40px;

}

h2 {
    position: absolute;
    color: #fff;
    bottom: 30px;
    left: 10px;
    font-size: 18px;
}