.article_card {
    position: relative;

}

.cardStyle {
    border-radius: 10px;
    height: 340px;
    width: 340px;
    object-fit: cover;
    margin-block: 40px;

}

h2 {
    position: absolute;
    color: #fff;
    bottom: 30px;
    left: 10px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .cardStyle {
        width: 22em;
        height: 22em;
    }
}

@media screen and (min-width: 375px) {
    .article_card {}

    .article_card a {
        height: 0;
    }

    .cardStyle {
        width: 20em;
        height: 16em;
        margin-block: 10px;
    }

    h2 {
        bottom: 20px;
        width: 90%;
    }
}