.divTitle {
    height: 47px;
    border: 1px solid #FF6060;
    border-radius: 5px;
    background-color: #FF6060;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.divTexte {
    border: 1px solide #F6F6F6;
    background-color: #F6F6F6;
    height: 180px;

}

.divTitle img {
    height: 25px;
    width: 30px;
    margin-inline: 10px;
}




.Collapse_Title {
    font-size: 24px;
    /* text-align: left; */
    margin: 0;
    padding: 12px;
    color: #fff;
    font-weight: 400;

}

.Collapse_Texte {
    font-size: 24px;
    margin: 0;
    padding: 30px 12px;
    color: #FF6060;
    font-weight: lighter;
}