@keyframes open {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(180deg);

    }
}


.collapse {
    margin-block: 20px;
}

.divTitle {
    height: 47px;
    margin: 1% 16% 0 16%;
    border: 1px solid #FF6060;
    border-radius: 5px;
    background-color: #FF6060;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.divTitle .imgVect {
    animation-name: open;
    animation-duration: 5ms;
    animation-fill-mode: both;

}

.divTexte {
    /* height: 137px; */
    margin: 0 16% 2% 16%;
    border: 1px solide #F6F6F6;
    background-color: #F6F6F6;

}

.imgVect {
    height: 25px;
    width: 30px;
    margin-inline: 10px;
}




.Collapse_Title {
    font-size: 24px;
    text-align: left;
    margin: 0;
    padding: 12px;
    color: #fff;
    font-weight: 400;

}

.Collapse_Texte {
    font-size: 20px;
    margin: 0;
    padding: 20px 12px;
    color: #FF6060;
    font-weight: lighter;
}

@media screen and (max-width: 375px) {
    .divTitle {
        height: 30px;
        margin: 1% 5%;
    }

    .divTexte {
        margin: 1% 5%;

    }

    .Collapse_Title {
        font-size: 13px;
    }

    .Collapse_Texte {
        font-size: 13px;
    }

    .imgVect {
        height: 18px;
    }
}