.Home-header {
    width: 80%;
    margin: 2% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FF6060;

}

.Home-header_nav {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: 24px;
    font-weight: 500;
}


a {
    text-decoration: none;
    color: #FF6060;
}

.underline {
    border-bottom: 2px solid #FF6060;
}

@media screen and (max-width: 992px) {
    .Home-header_nav {
        width: 35%;
        justify-content: space-between;
        font-weight: 500;
    }

    .underline {
        border-bottom: 1px solid #FF6060;
    }

}

@media screen and (max-width: 768px) {
    .Home-header {
        margin: 1% 5% 1% 5%;
        width: 90%;
    }

    .Home-header_logo {
        width: 30%;
    }

    .Home-header_logo img {

        width: 100%;
    }

    .Home-header_nav {
        width: 40%;
        font-size: 20px;

    }

}


@media screen and (max-width: 376px) {
    .Home-header {
        margin: 0 5% 2% 5%;
        width: 90%
    }

    .Home-header_logo {
        width: 40%;
    }

    .Home-header_logo img {

        width: 100%;
    }

    .Home-header_nav {
        width: 40%;
        font-size: 12px;
        text-transform: uppercase
    }


}