@font-face {
    font-family: "Montserrat";
    src: url(../../assets/police/Montserrat-Medium.otf);
}

.Home-header {
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FF6060;

}

.Home-header_nav {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: 1.5em;
    font-family: "Montserrat", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#underline {
    text-decoration: underline;

}

a {
    text-decoration: none;
    color: #FF6060;
}