@font-face {
    font-family: "Montserrat";
    src: url(../assets/police/Montserrat-Medium.otf);
}

body {
    margin: 0 10%;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
}

/* Home page */
.Home-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FF6060;
    
}

.Home-header_nav{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.5em;
}

#underline{
    text-decoration: underline;

}

.banner-section1{
    width: 1240px;
}




/* Page error 404 */

.error_pic{
    
}