.DivFooter {
    background-color: #000;
    height: 200px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.LogoFooter {
    padding: 3% 45%;
}

.TextFooter {
    text-align: center;
    padding-block: 20px;
    color: #fff;
}

@media screen and (min-width: 374px) and (max-width: 375px) {
    .DivFooter {
        margin-top: 40px;
    }

    .DivFooter img {
        height: 67px;
        width: 122px;
    }

    .LogoFooter {
        padding: unset;

    }

}