.DivFooter {
    background-color: #000;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210px;

}

.LogoFooter {
    margin: 3% 0 1% 0;
}

.TextFooter {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

@media screen and (max-width:992px) {
    .TextFooter {
        font-size: 20px;
    }
}

@media screen and (max-width:768px) {


    .DivFooter {
        padding: 60px;
    }

    .LogoFooter {
        height: 25px;
    }

    .TextFooter {
        font-size: 16px;
        font-weight: 400;
    }
}

@media screen and (max-width: 376px) {


    .DivFooter img {
        margin: 0 45% 0 45%;
        height: 30px;

    }

    .TextFooter {

        font-size: 12px;
    }

}

@media screen and (max-width:320px) {
    .TextFooter {
        font-size: 10px;
    }

}