.DivFooter {
    background-color: #000;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.LogoFooter {
    margin: 3% 45% 1% 45%;
}

.TextFooter {
    text-align: center;
    margin-block: 20px;
    color: #fff;
}

@media screen and (max-width: 375px) {
    .DivFooter {
        margin-top: 40px;
    }

    .DivFooter img {
        /* height: 67px;
        width: 122px; */
        padding: 8% 0 0 0;
    }

    .TextFooter {
        font-size: 12px;
    }

}