.data_host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}


.data_host img {
    border-radius: 80px;
    height: 70px;
}

.data_host p {
    font-weight: 500;
    width: 25%;
    color: #FF6060;
}