.data_host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}


.data_host img {
    border-radius: 80px;
    height: 70px;
}

.data_host p {
    font-weight: 500;

    width: 20%;
}

@media screen and (max-width: 375px) {
    .data_host {
        flex-direction: row;
        justify-content: space-between;
        width: 33%;
    }

    .data_host img {
        height: 32px;
    }

    .data_host p {
        font-size: 12px;
        width: 70%;
        text-align: end;

    }

}