.banner-section {
    width: 90%;
    margin: 2% 5%;
    height: 223px;
    position: relative;


}

.banner-section img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 30px;
}

.banner-section_p--div {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 45%;
    left: 22%;

}

.banner-section_p {
    font-size: 3em;
    color: #fff;
    margin: 0;


}