.banner-section {
    width: 80%;
    margin: 2% 10%;
    position: relative;
    overflow: hidden;


}

.banner-section img {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.banner-section_p--div {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30%;
    left: 21%;
    right: 5%;
    bottom: 7%;
}

.banner-section_p {
    font-size: 48px;
    color: #fff;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .banner-section_p {
        font-size: 40px;
    }

}

@media screen and (max-width: 992px) {
    .banner-section {
        margin: 0 5% 0 5%;
        width: 90%;
    }

    .banner-section img {
        border-radius: 20px;
    }

    .banner-section_p--div {
        left: 16%;
    }

    .banner-section_p {
        font-size: 38px;
    }

}

@media screen and (max-width: 768px) {
    .banner-section {
        margin: unset;
        width: 100%;
    }

    .banner-section img {
        border-radius: 15px;
        padding: 2%;
    }

    .banner-section_p {
        font-size: 35px;
    }

}

@media screen and (max-width: 376px) {
    .banner-section {
        margin: 0 5%;
        width: 90%;
        height: 111px;

    }

    .banner-section img {
        height: 111px;
        border-radius: 10px;
        padding: 0;

    }

    .banner-section_p--div {
        bottom: 30%;
        left: 5%;
        width: 70%;
    }

    .banner-section_p {
        font-size: 24px;
    }
}

@media screen and (max-width: 320px) {
    .banner-section {
        width: 100%;
        margin: 0;
    }

    .banner-section_p {
        font-size: 18px;

    }

}