.banner-section {
    width: 80%;
    margin: 2% 10%;
    position: relative;


}

.banner-section img {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.banner-section_p--div {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 45%;
    left: 22%;

}

.banner-section_p {
    font-size: 3em;
    color: #fff;
    margin: 0;


}

@media screen and (max-width: 1024px) {
    .banner-section {
        margin: 0 10% 0 10%;
        width: 80%;
    }

    .banner-section_p--div {
        left: 16%;
    }

    .banner-section_p {
        font-size: 2.5em;
    }

}

@media screen and (max-width: 768px) {
    .banner-section {
        margin: 0 10%;
        width: 80%;
    }

    .banner-section img {
        border: 15px;
    }

    .banner-section_p--div {
        bottom: 30%;
        width: 55%;
    }

    .banner-section_p {
        font-size: 2.25em;
    }

}

@media screen and (min-width: 374px) and (max-width: 375px) {
    .banner-section {
        margin: 0 5%;
        width: 90%;
        height: 8em;
    }

    .banner-section img {
        height: 7em;
        border-radius: 10px;
        object-fit: cover;
    }

    .banner-section_p--div {
        bottom: 30%;
        left: 5%;
        width: 70%;
    }

    .banner-section_p {
        font-size: 1.5em
    }
}


;