.section_errorPage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

.ErrorImg {
    width: 597px;
    height: 263px;
    margin: auto;


}

.Error_p {
    color: #FF6060;
    text-align: center;
    font-size: 36px;
    margin-block: 5%;

}

.ErrorLink_endpage {
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
    margin: 5% 0 10% 0;
}

@media screen and (max-width: 992px) {
    .ErrorImg {
        width: 50%;
        margin: 10% auto;
    }

    .Error_p {
        font-size: 30px;
    }

    .ErrorLink_endpage {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .ErrorImg {
        height: 50%;
        margin: 15% auto;

    }

    .Error_p {
        font-size: 24px;
        font-weight: 500;
    }

    .ErrorLink_endpage {
        font-size: 16px;
    }
}

@media screen and (max-width: 376px) {
    .ErrorImg {
        margin: 25% auto 5% auto;
    }

    .Error_p {

        margin: 5% 10% 20% 10%;
        padding-inline: 16%;
        font-size: 14px;
        text-align: center;

    }

    .ErrorLink_endpage {
        margin: 20% 0 20% 0;

        font-size: 14px;
        text-align: center;
    }

}