.section_errorPage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

.ErrorImg {
    width: 597px;
    height: 263px;
    margin: auto;


}

.Error_p {
    color: #FF6060;
    text-align: center;
    font-size: 36px;
    margin-block: 5%;

}

.ErrorLink_endpage {
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
    margin: 5% 0 10% 0;
}

@media screen and (max-width: 768px) {
    .ErrorImg {
        height: 50%;
        width: 50%;
        margin: 5% auto;
    }

    .Error_p {
        font-size: 24px;
    }
}

@media screen and (min-width: 375px) {
    .ErrorImg {
        margin: 25% auto;
    }

    .Error_p {
        margin-inline: 10%;
        font-size: 18px;
        font-weight: 400;
    }

    .ErrorLink_endpage {
        margin: 20% 0 20% 0;
    }

}